@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  @include mixins.scroll-container(2);

  text-align: center;
}

.item {
  margin-bottom: functions.spacing(2);
}

.buttons {
  margin-top: functions.spacing(2);
}
