@use '../../styles/colors.module';
@use '../../styles/fonts.module';
@use '../../styles/functions';

.root {
  background-color: colors.$sunshine;
  border: 1px solid transparent;
  color: colors.$midnight;
  font-family: fonts.$alternate;
  font-size: 1.15em;
  letter-spacing: functions.spacing(0.35);
  padding: functions.spacing(0.75) functions.spacing(2);
  padding-right: functions.spacing(1.55);
  text-transform: uppercase;

  &:hover,
  &:active,
  &:focus {
    background-color: transparent;
    border-color: colors.$smoke;
    color: colors.$sunshine;
  }
}

.group {
  text-align: center;

  .root {
    margin: 0 functions.spacing(1);
  }
}
