@use '../../styles/breakpoints.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.gutter {
  padding-left: functions.spacing(2);
  padding-right: functions.spacing(2);

  @include mixins.mq(breakpoints.$tablet) {
    padding-left: functions.spacing(4);
    padding-right: functions.spacing(4);
  }
}
