@use '../../styles/functions';

.wrapper {
  text-align: center;
}

.link {
  display: block;
  margin-bottom: functions.spacing(2);
  text-align: left;
}

.buttons {
  margin-top: functions.spacing(2);
}
