@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  @include mixins.scroll-container;

  text-align: center;
}

.item {
  margin-bottom: functions.spacing(2);
  text-align: left;
}

.buttons {
  margin-top: functions.spacing(2);
}
