@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  text-align: center;

  @include mixins.scroll-container;
}

.item {
  margin-bottom: functions.spacing(2);
  text-align: left;
}

.buttons {
  margin-top: functions.spacing(2);
}
