$black: #000;
$midnight: #12203f;
$yonder: #517aa0;
$denim: #1956c8;
$gulf: #04185c;
$sea: #6bcbef;
$sky: #c9e9f6;
$sunshine: #fae100;
$smoke: #f6f6f6;
$white: #fff;

:export {
  black: $black;
  midnight: $midnight;
  yonder: $yonder;
  white: $white;
  denim: $denim;
  gulf: $gulf;
  sea: $sea;
  sunshine: $sunshine;
  sky: $sky;
  smoke: $smoke;
}
