$black: #000;
$denim: #1777bb;
$paua: #28234b;
$perano: #b0bcee;
$resolution: #1a3185;
$seagull: #76badd;
$slate: #3a348e;
$yellow: #fae100;
$white: #fff;

:export {
  black: $black;
  white: $white;
  paua: $paua;
  slate: $slate;
  perano: $perano;
  resolution: $resolution;
  demin: $denim;
  seagull: $seagull;
  yellow: $yellow;
}
