$black: #000;
$denim: #1956c8;
$gulf: #04185c;
$sea: #6bcbef;
$sky: #c9e9f6;
$smoke: #f6f6f6;
$white: #fff;

:export {
  black: $black;
  white: $white;
  demin: $denim;
  gulf: $gulf;
  sea: $sea;
  sky: $sky;
  smoke: $smoke;
}
