// Font families
$big-noodle-titling: 'Big Noodle Titling';
$lemon-milk: 'Lemon/Milk';

// Font stacks
$-stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Font aliases
$body: $-stack-system;
$alternate: $lemon-milk, $-stack-system;
$heading: $big-noodle-titling, $-stack-system;

:export {
  big-noodle-titling: unquote($big-noodle-titling);
  lemon-milk: unquote($lemon-milk);
}
