// Font families
$big-noodle-titling: 'Big Noodle Titling';
$kontrapunkt: 'Kontrapunkt';

// Font stacks
$-stack-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
  Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';

// Font aliases
$body: $-stack-system;
$heading: $big-noodle-titling, $-stack-system;
$logo: $kontrapunkt, $-stack-system;

:export {
  big-noodle-titling: unquote($big-noodle-titling);
  kontrapunkt: unquote($kontrapunkt);
}
