@use '~@newhighsco/chipset/styles/normalize';
@use '../styles/breakpoints.module';
@use '../styles/colors.module';
@use '../styles/fonts.module';

@font-face {
  font-display: swap;
  font-family: fonts.$primal;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/primal/regular.woff') format('woff');
}

@font-face {
  font-display: swap;
  font-family: fonts.$blender-pro;
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/blender-pro/bold.woff2') format('woff2'),
    url('/fonts/blender-pro/bold.woff') format('woff');
}

body {
  background-color: colors.$gulf;
  color: colors.$white;
  font-size: 18px;
  line-height: 1.5;
  font-family: fonts.$body;
  font-weight: normal;
  min-width: breakpoints.$mobile;
}

a {
  color: inherit;
  text-decoration: none;

  &:focus {
    outline: none;
  }
}
