@use '../../styles/colors.module';
@use '../../styles/functions';

.root {
  background: colors.$smoke;
  color: colors.$midnight;

  &[role='link']:hover,
  &[role='link']:focus-within {
    outline: functions.spacing(0.25) solid colors.$smoke;
    outline-offset: functions.spacing(0.75);
  }
}

.content {
  padding: functions.spacing(2);
}

.heading {
  font-weight: bold;
}

.copy {
  > p + p {
    margin-top: functions.spacing(1);
  }

  small {
    font-size: smaller;
  }
}
