@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-weight: bold;

    @include mixins.mq(breakpoints.$tablet) {
      font-size: 1.25em;
    }

    @include mixins.mq(breakpoints.$desktop) {
      font-size: 1.5em;
    }
  }

  a[href] {
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      color: colors.$sunshine;
    }
  }

  ol,
  ul {
    margin-left: functions.spacing(4);
  }
}
