@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/fonts.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.root {
  position: relative;
}

.content {
  position: relative;
  z-index: 2;
}

.inner {
  position: relative;
}

.background {
  background-image:
    linear-gradient(to right, rgb(0 0 0 / 10%) 1px, transparent 1px),
    linear-gradient(to top, rgb(0 0 0 / 10%) 1px, transparent 1px),
    radial-gradient(circle at 25% 0, colors.$twilight 0%, rgb(0 0 0 / 10%) 30%);
  background-size:
    functions.spacing(0.75) functions.spacing(0.75),
    functions.spacing(0.75) functions.spacing(0.75),
    100%;
  inset: 0;
  outline: 1px dashed colors.$smoke;
  outline-offset: functions.spacing(-1);
  position: absolute;

  @include mixins.mq(breakpoints.$tablet) {
    outline-offset: functions.spacing(-1.5);
  }

  img {
    z-index: -1;
  }
}

.logo {
  margin: functions.spacing(2) functions.spacing(3);
  width: auto;

  @include mixins.mq(breakpoints.$tablet) {
    margin: functions.spacing(4);
  }

  &:hover,
  &:active,
  &:focus {
    color: colors.$white;

    path {
      fill: currentColor;
    }
  }
}

.navigation {
  @include mixins.mq(breakpoints.$tablet) {
    flex-grow: 1;
    margin: functions.spacing(4);
    text-align: right;
    width: auto;
  }
}

.list {
  @include mixins.mq(breakpoints.$tablet) {
    [aria-expanded='false'] ~ & {
      display: block;
    }
  }
}

.item {
  @include mixins.mq(breakpoints.$tablet) {
    display: inline-block;
    margin-left: functions.spacing(4) !important;
  }
}

.link {
  display: block;
  font-family: fonts.$heading;
  font-size: 2.5em;
  text-transform: uppercase;

  @include mixins.mq(breakpoints.$tablet) {
    font-size: 2em;
  }

  &:hover,
  &:active,
  &:focus {
    color: colors.$sunshine;
  }
}

.toggle {
  background: none;
  color: colors.$white;
  border: 0;
  font-size: 1em;
  margin: functions.spacing(4) functions.spacing(3);
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;

  @include mixins.mq(breakpoints.$tablet) {
    display: none;
  }

  &:hover,
  &:active,
  &:focus {
    background: none;
    color: colors.$sunshine;
    outline: none;
  }
}

.toggleActive {
  &:hover,
  &:active,
  &:focus {
    color: colors.$sunshine;
  }
}

.toggleIcon {
  fill: currentColor;
  width: functions.spacing(4);
}

@include mixins.mq($max: breakpoints.$tablet - 1) {
  .menuVisible {
    & ~ main > * {
      display: none;
    }

    .background {
      object-position: 0% 100% !important;
      position: fixed !important;

      img {
        display: none !important;
      }
    }

    .link {
      padding: functions.spacing(1) functions.spacing(2);
      text-align: center;
    }
  }
}
