@use '../../styles/colors.module';
@use '../../styles/functions';

.logo {
  width: auto;

  path {
    fill: currentColor;
  }
}

.navigation {
  flex-grow: 1;
  width: auto;
  text-align: right;
}

.icon {
  fill: currentColor;
  width: functions.spacing(4);
}
