@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.outer {
  position: relative;
}

.inner {
  position: relative;
  z-index: 2;
}

.content {
  padding-top: functions.spacing(4);
  position: relative;

  @include mixins.mq(breakpoints.$tablet) {
    padding-top: functions.spacing(6);
  }

  > * + * {
    margin-top: functions.spacing(4);

    @include mixins.mq(breakpoints.$tablet) {
      margin-top: functions.spacing(6);
    }
  }

  &:empty {
    padding-top: 0;
  }
}

.alternate {
  background-attachment: fixed;
  background-color: colors.$night;
  background-image: linear-gradient(
      to right,
      rgb(0 0 0 / 10%) 1px,
      transparent 1px
    ),
    linear-gradient(to top, rgb(0 0 0 / 10%) 1px, transparent 1px),
    radial-gradient(circle at 40% 20%, colors.$twilight 0%, colors.$night 90%);
  background-size: functions.spacing(0.75) functions.spacing(0.75),
    functions.spacing(0.75) functions.spacing(0.75), auto;
  margin-top: functions.spacing(4);

  .content {
    padding-bottom: functions.spacing(4);
  }

  @include mixins.mq(breakpoints.$tablet) {
    margin-top: functions.spacing(6);

    .content {
      padding-bottom: functions.spacing(6);
    }
  }

  & + & {
    margin-top: 0;

    .inner > *:first-child {
      padding-top: 0;
    }
  }
}
