@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.outer {
  position: relative;
}

.inner {
  position: relative;
  z-index: 2;
}

.content {
  padding-top: functions.spacing(4);
  position: relative;

  @include mixins.mq(breakpoints.$tablet) {
    padding-top: functions.spacing(6);
  }

  > * + * {
    margin-top: functions.spacing(4);

    @include mixins.mq(breakpoints.$tablet) {
      margin-top: functions.spacing(6);
    }
  }

  &:empty {
    padding-top: 0;
  }
}

.alternate {
  background-color: colors.$night;
  background-image: radial-gradient(
    circle at 40% 30%,
    colors.$twilight 0%,
    colors.$night 90%
  );
  background-attachment: fixed;
  margin-top: functions.spacing(4);

  .content {
    padding-bottom: functions.spacing(4);
  }

  @include mixins.mq(breakpoints.$tablet) {
    margin-top: functions.spacing(6);

    .content {
      padding-bottom: functions.spacing(6);
    }
  }

  & + & {
    margin-top: 0;

    .inner > *:first-child {
      padding-top: 0;
    }
  }
}
