@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.alternate {
  background: colors.$denim;
  margin-top: functions.spacing(4);
  padding-bottom: functions.spacing(4);

  @include mixins.mq(breakpoints.$tablet) {
    margin-top: functions.spacing(6);
    padding-bottom: functions.spacing(6);
  }

  & + & {
    margin-top: 0;

    .inner > *:first-child {
      padding-top: 0;
    }
  }
}
