@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.alternate {
  background: rgba(colors.$slate, 50%);
  padding-top: functions.spacing(4);
  padding-bottom: functions.spacing(4);

  @include mixins.mq(breakpoints.$tablet) {
    padding-top: functions.spacing(6);
    padding-bottom: functions.spacing(6);
  }
}
