@use '../../styles/breakpoints.module';
@use '../../styles/colors.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.logo {
  margin-bottom: functions.spacing(4);
  width: functions.spacing(20) !important;

  @include mixins.mq(breakpoints.$tablet) {
    margin-bottom: functions.spacing(2);
  }
}

.links {
  margin-bottom: functions.spacing(3);

  @include mixins.mq(breakpoints.$tablet) {
    margin-bottom: functions.spacing(2);
    text-align: center;
  }
}

.link {
  display: block;
  margin-bottom: functions.spacing(1);

  @include mixins.mq(breakpoints.$tablet) {
    display: inline-block;
    margin: 0 functions.spacing(2);
  }
}

.iconLinks {
  margin-bottom: functions.spacing(2);
  margin-left: functions.spacing(-2);

  @include mixins.mq(breakpoints.$tablet) {
    margin-bottom: functions.spacing(2);
    text-align: right;
  }
}

.iconLink {
  display: inline-block;
  margin-left: functions.spacing(2);
}

.icon {
  fill: currentColor;
  width: functions.spacing(3);
}

.credits {
  font-size: smaller;
  position: relative;

  &::before,
  &::after {
    content: '';
    display: block;
    width: 100%;
    z-index: 1;
  }

  &::before {
    background: colors.$seagull;
    height: functions.spacing(1);
    margin-bottom: functions.spacing(2);
    opacity: 0.2;
  }

  &::after {
    background-image: url('../../images/small-markings.png');
    background-position: top right;
    background-repeat: no-repeat;
    background-size: auto 100%;
    opacity: 0.5;
    position: absolute;
    height: functions.spacing(3);
    top: functions.spacing(1);
    right: 0;
  }

  & > * {
    position: relative;
    z-index: 2;
  }
}
