@use '~@newhighsco/chipset/styles/normalize';
@use '../src/styles/fonts.module';

@font-face {
  font-display: swap;
  font-family: fonts.$kontrapunkt;
  font-weight: normal;
  font-style: normal;
  src: url('../src/fonts/kontrapunkt/regular.woff2') format('woff2'),
    url('../src/fonts/kontrapunkt/regular.woff') format('woff'),
    url('../src/fonts/kontrapunkt/regular.ttf') format('truetype');
}

@font-face {
  font-display: swap;
  font-family: fonts.$big-noodle-titling;
  font-weight: normal;
  font-style: normal;
  src: url('../src/fonts/big-noodle-titling/regular.woff2') format('woff2'),
    url('../src/fonts/big-noodle-titling/regular.woff') format('woff'),
    url('../src/fonts/big-noodle-titling/regular.ttf') format('truetype');
}
