@use '../../styles/functions';

.wrapper {
  display: inline-block;
  line-height: 0;
  text-align: center;
  width: functions.spacing(7.5);
}

.icon {
  fill: currentColor;
  width: 100%;
}

.text {
  fill: currentColor;
  margin-top: 10%;
  width: 100%;

  &:only-child {
    margin-top: 0;
  }
}
