@use '../../styles/colors.module';
@use '../../styles/functions';

.root {
  display: inline-block;
  line-height: 0;
  text-align: center;
  width: functions.spacing(6.25);
}

.icon {
  fill: currentColor;
  width: 100%;
}

.text {
  border: 1px solid colors.$white;
  fill: currentColor;
  margin-top: 10%;
  width: 100%;

  &:only-child {
    margin-top: 0;
  }
}
