@use '../../styles/breakpoints.module';
@use '../../styles/fonts.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.wrapper {
  display: inline-block;
  line-height: 0;
  text-align: center;
  width: functions.spacing(10);
}

.icon {
  fill: currentColor;
  width: 75%;
}

.text {
  fill: currentColor;
  margin-top: 10%;
  width: 100%;

  &:only-child {
    margin-top: 0;
  }
}
