@use '../../styles/breakpoints.module';
@use '../../styles/fonts.module';
@use '../../styles/functions';
@use '../../styles/mixins';

.wrapper {
  display: inline-block;
  text-align: center;
}

.icon {
  fill: currentColor;
  width: functions.spacing(6);

  @include mixins.mq(breakpoints.$tablet) {
    width: functions.spacing(10);
  }
}

.text {
  font-family: fonts.$logo;
  text-transform: uppercase;
}
